APP_ENV=local
APP_DEBUG=false
APP_NAME=NENE2
NENE2_MACHINE_API_KEY=

DATABASE_URL=
DB_ENV=local
DB_ADAPTER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=nene2
DB_USER=nene2
DB_PASSWORD=nene2
DB_CHARSET=utf8mb4
