<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="NENE2">
      <directory>tests</directory>
      <exclude>tests/Database</exclude>
    </testsuite>
    <testsuite name="Database">
      <directory>tests/Database</directory>
      <exclude>tests/Database/MySql</exclude>
    </testsuite>
    <testsuite name="DatabaseMySQL">
      <directory>tests/Database/MySql</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
